.ChapterForm {
    margin-left: 10%;
}

.form-heading {
  margin-top: 60px;
  margin-bottom: 0px;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.form-bg {
  background-color: #282c34;
  margin: 0px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
    width: 50%;
    margin: 1%;
    resize: none;
}

.form-button {
    margin: 1%;
}

.add-form {
    background-color: #282c34;
    padding: 50px 200px;
    margin: 0px;
    display: flex;
    width: 1000px;
    justify-content: center;
    flex-direction: column;
  }
  
.form-control {
  align-items: right;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  
  
.form-control input {
  background-color: #282c34;
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  font-family: inherit;
  color: #fff;
  border: 2px solid white;
}

.form-control textarea {
  background-color: #282c34;
  width: 80%;
  height: 40px;
  margin: 0px;
  padding: 3px 7px;
  font-size: 17px;
  color: #fff;
  font-family: inherit;
  resize: none;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 50%;
}

.button-holder {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}